body {font-size: 20px;}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

table.table1  {

 background-color: white;
 background-size: auto;
 align-content: left;
}

table.table2 tr {

 background-color: gray
 background-size: auto;
 align-content: left;
}

li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: #4CAF50;
}


.footer {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}

.footermore {
   position: bottom;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

p.uppercase {
  text-transform: uppercase;
}

p.lowercase {
  text-transform: lowercase;
}

p.capitalize {
  text-transform: capitalize;
}

p.a {
  font: 50px arial, sans-serif text-align:justify-all;
}

p.b {
  font: italic bold 30px Georgia, serif;
}
a:link, a:visited {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: black;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    background-color: #0088ce;
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
    display: block;
}
/* end of dropdown css */
  .container-1 {
    display: flex;
    /*
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: stretch;
    
    flex-direction: column;
    */
  }
  
  .container-2 {
    display: flex;
    justify-content: space-between;
    
    /*
      justify-content: flex-end;
      justify-content: space-around;
      justify-content: flex-start;
    */
    
  }
  
  .container-1 div, .container-2 div{
    border: 1px #ccc solid;
    padding: 10px;
    font-family: 'Baloo Da 2', cursive;
    text-shadow: 2px 2px 8px #02e53363;
  }
  
  
  
  .box-1{
    flex: 1;
    order: 3;
    
  }
    
  .box-2{
   flex: 2;
   order: 2;
   
  }
  
  .box-2 .img {
    width: 100px;
    justify-content:center;
  }
  
  .box-3{
    flex: 1;
    order: 1;
  }
  
  .box-4, .box-5, .box-6{
    
    width: 70%;
  }
  
  .shadow-div {
    
    box-shadow:5px 5px 10px slategray;
    
  }
  
  .shadow-div-inset {
    
    box-shadow:5px 5px 10px #006622 inset;
    
  }
  /*
  .box-5{
    flex: 2;
  }
  
   .box-6{
    flex: 1;
  }
  */
  
  /* start of animation properties */
  
  .scale-in-center {
  -webkit-animation: scale-in-center 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: scale-in-center 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
.tracking-in-contract-bck-top {
  -webkit-animation: tracking-in-contract-bck-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite forwards;
            animation: tracking-in-contract-bck-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite forwards;
}
@-webkit-keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
            transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
            transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

#grad1 {
  height: 60px;
  background-color: red;
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}
